<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<connectionStrings><add name="TurfirmaEntities" connectionString="metadata=res://*/DataFilesApp.Model1.csdl|res://*/DataFilesApp.Model1.ssdl|res://*/DataFilesApp.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=COMP4\SQLEXPRESS;initial catalog=Turfirma;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>